.hidden{
    display: none;
}

body{
    background-image: url(../img/98884-OLRRMW-655.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #6aaa55;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



header{
    padding: 20px;
    background-color: #6aaa55;
    margin: 0;
}

#logo{
    width: 300px;
}

#birds{
    padding: 10px;
    border: solid 5px #06540a;
    border-radius: 5px;
    background-color: aliceblue;
}

li{
    list-style-type: none;
}

.dz{
    width: 115px;
    height: 125px;
    border: 3px solid #06540a;
    border-radius: 5px;
    background-color: aliceblue;
    overflow-x: visible;
    overflow-y: visible;
}

button{
  border: #06540a solid 3px;
  border-radius: 5px;
  background-color: #06540a;
  color: aliceblue;
  padding: 15px;
  width: 137px;
}

button:hover{
    background-color: #6aaa55;
    color: #06540a;
    font-weight: bolder;
}

#audio-controls{
    padding: 30px;
    background-color: #6aaa55;
}

#bluejay:hover, #cardinal:hover, #chickadee:hover, #kingfisher:hover, #robin:hover, #sparrow:hover{
    filter: brightness(120%);
    filter: contrast(140%);
}

#volumeControl {
    background: #06540a;
    width: 400px;
    height: 30px;
    margin: 10px;
}


.lightbox { 
    width: 100vw;
    height: 100vh;
    /* reading "vw = viewport width => screen width" was interesting from the marvel build... */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 5000;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { 
    color: #8c1010; 
}

.lightbox article {
    width: 55%;
    margin: 50px auto;
    color: white;
    text-align: center;
}

.lightbox:target { 
    display: block; 
}

.info-button {
    background: #06540a;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}