.hidden{
    display: none;
}

body{
    background-image: url(../img/98884-OLRRMW-655.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #6aaa55;
}

header{
    padding: 20px;
}

#logo{
    width: 35%;
    max-width: 300px;
}

#birds{
    padding: 10px;
    border: solid 5px #06540a;
    border-radius: 5px;
    background-color: aliceblue;
    flex-direction: row;
    
    /*i was so sick of the sizing changing as i scaled the page, so i forced it to stay the same...*/
    width: 1000px;
    max-height: 120px;
    min-height: 120px;
    height: 120px;

    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bird{
    width: 105px;
    margin: 10px;

}

li{
    list-style-type: none;
}

.dz{
    max-width: 150px;
    min-width: 150px;
    width: 150px;
    max-height: 120px;
    min-height: 120px;
    height: 120px;
    border: 3px solid #06540a;
    border-radius: 5px;
    margin: 5px;
    background-color: aliceblue;
}

button{
  
}