.hidden{
    display: none;
}

body{
    background-image: url(../img/98884-OLRRMW-655.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #6aaa55;
}



header{
    padding: 20px;
    background-color: #6aaa55;
    margin: 0;
}

#logo{
    width: 300px;
}

#birds{
    padding: 10px;
    border: solid 5px #06540a;
    border-radius: 5px;
    background-color: aliceblue;
}

li{
    list-style-type: none;
}

.dz{
    width: 115px;
    height: 125px;
    border: 3px solid #06540a;
    border-radius: 5px;
    background-color: aliceblue;
    overflow-x: visible;
    overflow-y: visible;
}

button{
  border: #06540a solid 3px;
  border-radius: 5px;
  background-color: #06540a;
  color: aliceblue;
  padding: 15px;
  width: 137px;
}

button:hover{
    background-color: #6aaa55;
    color: #06540a;
    font-weight: bolder;
}

#audio-controls{
    padding: 30px;
    background-color: #6aaa55;
}

#bluejay:hover, #cardinal:hover, #chickadee:hover, #kingfisher:hover, #robin:hover, #sparrow:hover{
    filter: brightness(120%);
    filter: contrast(140%);
}

#volumeControl {
    background: #06540a;
    width: 400px;
    height: 30px;
    margin: 10px;
}